.Civilizations {
  color: blanchedalmond;
  display: flex;
  align-items: center;
  margin: 3rem;
  max-width: 25rem;
  flex-direction: column;
  z-index: 1;
  position: relative;
  font-size: 10px;
  text-decoration: none;
  @media only screen and (min-width: 600px) {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50rem;
    justify-content: space-between;
  }
}
